
body{
   
    background-color: white;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
   
  }
  ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
.gallery{
    
    display: flex;
    gap: 26px;
    flex-wrap: wrap;

}
 .gallery-item {
    List-style-type: none;
    width: calc((100% - 52px) / 3);
    

}
.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
